{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<form action="{{ path("app_login") }}" method="post" class="flex flex-col items-center gap-5 py-14" style="background: linear-gradient(135deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);">
		<h2 class="text-2xl font-bold">Connexion</h2>
		<input type="email" name="_username" value="{{ lastPseudo }}" placeholder="Email" id="" class="w-[90vw] rounded-lg p-1 text-lg">
		<input type="password" name="_password" id="" placeholder="Mot-de-passe" class="w-[90vw] rounded-lg p-1 text-lg">
		{% if error %}
			<div role="alert">
				<span class="font-medium">Email ou Mot-de-passe incorect</span>
			</div>
		{% endif %}
		<button type="submit" class="rounded-lg bg-blue-500 p-1">Connexion</button>
		<a href="{{ path("app_registration") }}" class="underline underline-offset-2">Je n'ai pas de compte</a>
	</form>
{% endblock %}
