{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<table>
		<thead>
			<tr>
				<th scope="col">utilisateur</th>
				<th scope="col">cv</th>
				<th scope="col">profil</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">Chris</th>
				<td>HTML tables</td>
				<td>2</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
